#require("./listpanel.css")
#if($aListPanel)
#foreach( $panel in $!{aListPanel} )
    <div class="mod-pro-pannel">
        <a href="#" class="a-block cfix">
            <img src="$!{panel.url}" alt="" class="pic">
            <div class="info">
                <p class="supply-line"></p>
                <h2>$!{panel.name}</h2>
                <p class="price-line">
                    <span class="price">¥$!{panel.price}</span>
                </p>
            </div>
        </a>
    </div>
#end
#end