#require('./category.css')
<div id="indexNavNew">
    <div><a href="/beauty/products/">所有分类</a></div>
    <ul class="categoryList">
        #foreach( $item in $!{aCategory} )
        <li>
            <a href="/beauty/products/$!{item.type}">$!{item.name}<span class="prod_count">(197450)</span></a>
        </li>
        #end
    </ul>
</div>